
# ignore pattern files
*~
*.scan
*.log
*.status
*.deps
*.libs
*.o
*.lo
*.la
cscope*

# ignore dir
node_modules/
autom4te.cache/
.SpaceVim.d/
build/

# ignore files
res/script/version.num
Makefile.in
Makefile
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
config.h
libtool
stamp-h1
.clang
tags

# ignore exec files
signal_wrapper
sample/thread_wrapper
sample/uart_wrapper

